api/static/*
frontend/.svelte-kit/*
frontend/.svelte-kit/generated/server/*
frontend/.svelte-kit/ambient.d.ts
frontend/.svelte-kit/tsconfig.json
frontend/.svelte-kit/generated/server/internal.js
frontend/.svelte-kit/output/client/favicon.png
frontend/.svelte-kit/output/client/.vite/manifest.json
frontend/.svelte-kit/output/client/_app/version.json
frontend/.svelte-kit/output/client/_app/immutable/assets/_layout.B4KJ47tT.css
frontend/.svelte-kit/output/client/_app/immutable/assets/_page.WUzzIesT.css
frontend/.svelte-kit/output/client/_app/immutable/assets/0.CD-nSkxO.css
frontend/.svelte-kit/output/client/_app/immutable/assets/2.WUzzIesT.css
frontend/.svelte-kit/output/client/_app/immutable/chunks/disclose-version.CbuMJ-8b.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/entry.Bmkpb3GW.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/entry.DivLhnXe.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/index-client.BGcNfKnx.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/index.DvAu-9B3.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/runtime.CW_FmKor.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/store.C89PaXyH.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/this.fQtdachP.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/websocket.BCghtrCi.js
frontend/.svelte-kit/output/client/_app/immutable/chunks/websocket.Dvjyuv75.js
frontend/.svelte-kit/output/client/_app/immutable/entry/app.DjNWUGnc.js
frontend/.svelte-kit/output/client/_app/immutable/entry/app.DwwVscas.js
frontend/.svelte-kit/output/client/_app/immutable/entry/start.Bsze_2gA.js
frontend/.svelte-kit/output/client/_app/immutable/entry/start.CQ93jRdN.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/0.BaZAfoDr.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/0.D2bjqsz1.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/1.Aga5BTnt.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/1.fbKOByeq.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/2.BLcG0Jxr.js
frontend/.svelte-kit/output/client/_app/immutable/nodes/2.TCxr3Ufj.js
frontend/.svelte-kit/output/prerendered/pages/index.html
frontend/.svelte-kit/output/server/index.js
frontend/.svelte-kit/output/server/manifest-full.js
frontend/.svelte-kit/output/server/manifest.js
frontend/.svelte-kit/output/server/.vite/manifest.json
frontend/.svelte-kit/output/server/_app/immutable/assets/_layout.B4KJ47tT.css
frontend/.svelte-kit/output/server/_app/immutable/assets/_page.WUzzIesT.css
frontend/.svelte-kit/output/server/chunks/alert.js
frontend/.svelte-kit/output/server/chunks/index.js
frontend/.svelte-kit/output/server/chunks/index2.js
frontend/.svelte-kit/output/server/chunks/internal.js
frontend/.svelte-kit/output/server/entries/fallbacks/error.svelte.js
frontend/.svelte-kit/output/server/entries/pages/_layout.svelte.js
frontend/.svelte-kit/output/server/entries/pages/_page.svelte.js
frontend/.svelte-kit/output/server/nodes/0.js
frontend/.svelte-kit/output/server/nodes/1.js
frontend/.svelte-kit/output/server/nodes/2.js
